<form method="post" action="{{ path('gallerie_delete', {'id': gallerie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallerie.id) }}">
    <button class="btn">Supprimer </button>
</form>
