{% extends 'base2.html.twig' %}

{% block title %}New Realisation{% endblock %}

{% block body %}


    {{ include('realisation/_form.html.twig') }}

    <a href="{{ path('realisation_index') }}">back to list</a>
{% endblock %}
